{
  "root": true,
  "extends": "standard",
  "plugins": [
    "cypress",
    "chai-friendly"
  ],
  "env": {
    "browser": true,
    "cypress/globals": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-unused-expressions": 0,
    "chai-friendly/no-unused-expressions": 2
  }
}